h1{
    text-align: center;
    text-decoration: underline;
    color: #B0322C;
    font-size: 300%;
}
p{
    font-size: large;
    text-align: center;
    border: 20px solid powderblue;
    padding: 10px;
    margin: 20px;
}
button {
    margin: 10px;
    padding: 10px;
    color: white;
    border-width: 5px;
    background-color: red;
    border-radius: 5px;
    text-align: center;
}
.my-table {
    width: 100%;
    height: 100vh;
    border-collapse: separate;
    border-spacing: 5px;
}
.my-table,th,td{
     border: 1px solid rgb(252, 249, 249);
     font-size: x-large;
     border-collapse: collapse;
}

th,td{
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
}
h2{
    text-decoration: underline;
    text-align: center;
    font-size: xx-large;
}
.my-table {
    background-image: url("image/bg\ table.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
}
th{
    columns: black;
}
td{
    color: azure;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: red;
}
ul {
  display: flex;
  justify-content: flex-end;
}

li a{
    display: block;
    text-align: center;
    color: antiquewhite;
    padding: 10px;
    text-decoration: none;
}
li a:hover {
  background-color: #e50b0b;
}
div{
    text-align: center;
    background-color: red;
    color: azure;
    padding: 5px;
}
.search-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  input {
    padding: 10px;
    width: 200px;
    border: 1px solid #0c0707;
    border-radius: 5px;
  }
.search-bar {
    padding: 10px;
    background-color: rgb(67, 155, 186);
    color: white;
    border: none;
    border-radius: 5px;
  }
  .map{
    background-color: azure;
  }
  .contact-section {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
  border-color: #e50b0b;
  border-collapse: collapse;
  border-radius: 5px;
}

.contact-section h2 {
  margin-bottom: 20px;
}

.contact-section p {
  border-collapse: collapse;
  font-size: 14px;
  border-color: #ffffff;
}

.copyright {
  margin-top: 20px;
  font-size: 12px;
  color: #ccc;
}



